extends layout

block content
  .jumbotron
    .container
      h1 Base de datos de San Miguel
      p Miembros del grupo, lugares de acampada, recursos y actividades...
      p: a.btn.btn-primary.btn-lg(href='http://telegram.me/dieortin', role='button') Avisar de un bug &raquo;
  .container
    .row
      .col-md-4
        h2 Información sobre miembros
        p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        p: a.btn.btn-default(href='#', role='button') View details &raquo;
      .col-md-4
        h2 Lugares de acampada
        p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        p: a.btn.btn-default(href='#', role='button') View details &raquo;
      .col-md-4
        h2 Metodología y actividades
        p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        p: a.btn.btn-default(href='#', role='button') View details &raquo;